<link rel="stylesheet" type="text/css" href="./custom_css/register.css" />

<div class="container" ng-cloak>
    <div class="row top-margin">
       <!--<div class="col-md-4 logo-area">
            <div class="media border p-3 shadow">
                <img src="./images/logo.png" alt="aroha logo" class="mr-3 mt-3 rounded" style="width:60px;">
                <div class="media-body">
                    <h4>Aroha Technologies</h4>
                    <p>Welcome to Employee daily status Report Application</p>
                </div>
            </div>
        </div>--> 
        <div class="col-md-4 center">
            <div class="card">
                <div class="card-header">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form name="register">
                        <div class="form-group">
                            <label for="email"><i class="fa fa-envelope-o"></i> Email address:</label>
                            <input type="email" class="form-control text-box" id="email">
                        </div>
                        <div class="form-group">
                            <label for="username"><i class="fa fa-user-o"></i> Username:</label>
                            <input type="text" class="form-control text-box" id="username">
                        </div>
                        <div class="form-group">
                            <label for="empId"><i class="fa fa-id-card-o"></i> Employee Id:</label>
                            <input type="text" class="form-control text-box" id="empId">
                        </div>
                        <div class="form-group">
                            <label for="pwd"><i class="fa fa-key"></i> Password:</label>
                            <input type="password" class="form-control text-box" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="conPwd"><i class="fa fa-keyboard-o"></i> Confirm Password</label>
                            <input class="form-control text-box" type="password" id="conPwd">
                        </div>
                        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-paper-plane-o"></i>
                            Submit</button>
                    </form>
                    <p class="message text-md-left text-xs-center"><b>Already registered? <a href="/#!/login">Login
                                into
                                your account</a></b> </p>
                </div>
            </div>

        </div>
    </div>
</div>