.logo-area{
    border-right: 1px solid  #4CAF50;
    margin-bottom: 20px;
    }
    .shadow{
        background-color: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .top-margin{
        margin-top: 40px;
    }
    .text-box{
        border:1px solid rgb(245, 132, 33);
    }
    .center{
        margin: auto;
    }
    
    .card{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    .body-color{
        background-color: honeydew;
    }
    
    .message {
        margin: 15px 0 0;
        font-size: 12px;
      }
    .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .card-header{
        background-color:#009688;
        color:white
      }

      .error{
        color:red;
    }